<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Vuejs</title>
    <style>

    </style>
</head>
<body>
    <div id="root">
        <h1>All Tasks</h1>
        <ul>
            <li v-for="(task,key) in tasks">
                {{ task.description }}
                <button @click="toggleComplete(key)">Complete</button>
            </li>
        </ul>

         <h1>Incompleted Tasks</h1>
        <ul>
            <li v-for="task in incompleteTasks" v-text="task.description"></li>
        </ul>

        <h1>Completed Tasks</h1>
        <ul>
            <li v-for="task in completeTasks" v-text="task.description"></li>
        </ul>
    </div>



    <script src="https://unpkg.com/vue@2.2.1"></script>
    <script>

        var app = new Vue ({
            el: '#root',
            data: {
                message: 'All Tasks',
                tasks: [
                    { description: 'Go to the store', completed: false},
                    { description: 'Pick up milk', completed: true},
                    { description: 'Make a sandwich', completed: false},
                    { description: 'Peanut Butter Jelly', completed: false},
                    { description: 'Clean Room', completed: false},

                ]
            },
            methods: {
                toggleComplete(key) {
                    task = this.tasks[key]
                    task.completed = task.completed ? false : true;
                }
            },
            computed: {
                incompleteTasks() {
                    return this.tasks.filter( task =>  !task.completed )
                },
                completeTasks() {
                      return this.tasks.filter( task =>  task.completed )
                },
                reversedMessage() {
                    return this.message.split('').reverse().join('')
                }
            }


        })




    </script>
</body>
</html>